{{!-- Everything inside the #author tags pulls data from the author --}}
{{#primary_author}}



<section>
              <div class="row add-people-section">
                <div class="columns about-people">
                  <div class="about-people-avatar">
                    {{#if profile_image}}
                    <img class="avatar-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                  </div>
                   {{/if}}
                  <div class="about-people-author">
                    <p class="author-name">
                     <a href="{{url}}">{{name}}</a>
                    </p>
                    {{#if bio}}
                    <p class="author-mutual">

                        {{bio}}
                        
                    </p>
                    {{/if}}
                  </div>    
                </div>

              </div>
              <div class="post-full-footer-right">
    <a class="author-card-button" href="{{url}}">Read More</a>
</div>
</section>
{{/primary_author}}
