<article class="wide-article-link">
  <div class="row">
    <div class="small-12 medium-9 columns">
      <h4 class="article-title">
        <a href="{{url}}">
            {{title}}
        </a>
      </h4>
      <p class="article-elipsis">{{excerpt words="33"}}<a href="{{url}}" class="read-more">.....Read the Client Case Study</a></p>

    </div>
    <div class="small-12 medium-3 columns flex-container align-middle">
      <img src="{{img_url feature_image size="s"}}" alt="{{title}}" />
    </div>
  </div>
  {{!--/.post-card-content--}}
</article>