{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header}} {{!--Special header.hbs partial to generate the <header> tag--}}

</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}



    <div class="grid-container article-post-page"  id="newsletter-sticky">
    <div class="grid-x grid-margin-x">
      <div class="cell large-9">

    <article class="simple-article-header" itemscope itemtype="http://schema.org/Article">
      <!-- Article Published Date & Reading Time -->
        <p class="article-date-read"><time itemprop="datePublished" datetime="datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time></p>
         <meta itemprop="dateModified" content="{{date format="YYYY-MM-DD"}}" />
         <div class="hide" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <p itemprop="name" class="hide">Ketch Partners</p>
            <a href="{{root}}index.html" itemprop="url"><strong><img src="{{asset "img/logo-top-bar.png"}}"" width="100px" alt="logo" itemprop="logo" /></strong></a>
        </div>
      <!-- Article Title -->
      <h1 class="article-title" itemprop="headline">
        <span><a href="{{url}}" itemprop="mainEntityOfPage">
          {{title}}
        </a></span>
      </h1>
  {{#if authors}}
    <ul class="no-bullet">
    {{#foreach authors}}
      <li>
        <a href="{{url}}" title="{{name}}" class="author author-{{id}} {{slug}}">{{name}}</a>
      </li>
    {{/foreach}}
    </ul>
  {{/if}}





      <!-- Article Social Links -->
    <div class="article-social">
        {{#if facebook}}
        <a href="{{@blog.facebook}}" class="button social facebook">
          <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
        </a>
         {{/if}}

        {{#if twitter}}
        <a href="{{@blog.twitter}}" class="button social twitter">
          <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
        {{/if}}


      </div>

      <!-- Article Image -->
      <div class="article-post-image">
        <div class="thumbnail">
          <img class="article-image" src="{{img_url feature_image size="xl"}}" alt="{{title}}" itemprop="image" />
        </div>
      </div>

      <!-- Article Post Content -->
      <div class="article-post-content" itemprop="articleBody">
         {{content}}
    </div>

    <div class="callout about-author">

                {{#has author="count:>1"}}
                    {{> "byline-multiple"}}
                {{else}}
                    {{> "byline-single"}}
                {{/has}}
    </div>
    </article>






   </div>
    <div class="cell large-3">

        <aside>
        <div class="grid-container" id="guide-download-wrapper">
          <h3 class="text-center" id="guide-download-header">Free Guide of SAP Implementations</h3>
          <img src="{{asset "img/ketch-client-case-studies-download.jpg"}}" alt="Ketch SAP Implementation Guide" />
          <div class="callout" id="guide-download-container">
            <form class="form-registration-group" action="" id="downloadForm">
            <input class="form-registration-input" type="email" placeholder="Your email" required id="downloadEmail">
            <input class="form-registration-submit-button" type="submit" value="Download" id="downloadSubmit">

          </form>
          </div>
        </div>
        <div class="reveal" id="downloadModal" data-reveal>
         <p class="text-center">Thank you for registering with Ketch Partners.</p>
         <p class="text-center"><a class="button primary" id="downloadLink" target="_blank">Download Report Link</a></p>
           <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        </aside>



    </div>

    </div>
    </div>   

{{/post}}

